{% extends 'myadmin/index.html' %}

{% block content%}


<section class="wrapper">
		<div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     All inquiry
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>
            <th>inq_Id</th>
            <th>Name</th>
            <th>email_id</th>
            <th>contact</th>
          </tr>
        </thead>
        <tbody>
          <tr data-expanded="true">
            <td>01</td>
            <td>ruchit</td>
            <td>ruc@gmail.com</td>
            <td>9558410248</td>
            
          </tr>
          <tr>
            <td>02</td>
            <td>rahul</td>
            <td>rul@gmail.com</td>
            <td>9558410248</td>
          </tr>
          <tr>
            <td>03</td>
            <td>raj</td>
            <td>raj@gmail.com</td>
            <td>9558410248</td>
          </tr>  
            
          </tbody>
      </table>
    </div>
  </div>
</div>
</section>
{% endblock%}