
{% extends 'user/index.html' %}

{% block content %}


  <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-5" data-aos="fade">
            <img src="/static/user/images/img_3.jpg" class="img-md-fluid" alt="Placeholder image">
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="bg-white pl-lg-5 pl-0  pb-lg-5 pb-0">
            <h2 class="font-weight-bold text-black" data-aos="fade">About</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque perferendis, laudantium quod architecto velit ad officiis facere eveniet in fuga fugiat delectus rerum doloribus quos consectetur unde, expedita, quibusdam corporis impedit quia sequi aliquid sit. Ducimus labore molestias odio nam necessitatibus laboriosam vero saepe enim nobis. Repudiandae quidem, sint earum dolorum consequuntur dignissimos excepturi mollitia omnis aliquid, corporis, unde!</p>
            <ul class="site-block-check">
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Dicta doloribus veniam impedit, enim!</li>
              <li>Quod, facilis cupiditate repellat voluptas.</li>
              <li>Quae impedit id maxime fugiat.</li>
              <li>Esse aut iste dolor. In.</li>
            </ul>
            
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-5" data-aos="fade">
            <img src="/static/user/images/img_2.jpg" class="img-md-fluid" alt="Placeholder image">
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="bg-white pl-lg-5 pl-0  pb-lg-5 pb-0">
            <h2 class="font-weight-bold text-black" data-aos="fade">About</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque perferendis, laudantium quod architecto velit ad officiis facere eveniet in fuga fugiat delectus rerum doloribus quos consectetur unde, expedita, quibusdam corporis impedit quia sequi aliquid sit. Ducimus labore molestias odio nam necessitatibus laboriosam vero saepe enim nobis. Repudiandae quidem, sint earum dolorum consequuntur dignissimos excepturi mollitia omnis aliquid, corporis, unde!</p>
            <ul class="site-block-check">
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Dicta doloribus veniam impedit, enim!</li>
              <li>Quod, facilis cupiditate repellat voluptas.</li>
              <li>Quae impedit id maxime fugiat.</li>
              <li>Esse aut iste dolor. In.</li>
            </ul>
            
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}     