{% extends 'user/index.html' %}

{% block content %}  

<div class="site-section bg-light">
  <div class="container">
    <h1><b> Maid Registration </b></h1>
    <div class="row">
      <div class="col-md-12 col-lg-8 mb-5">
        <form action="#" class="p-5 bg-white">
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="font-weight-bold" for="fullname">First Name</label>
                <input type="text" id="fullname" class="form-control" placeholder="First Name">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Last Name</label>
                  <input type="text" id="email" class="form-control" placeholder="Last Name">
                </div>
              </div><br>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="birthday">Birthday:</label>
                  <input type="date" id="birthday">
                </div>
              </div>
              
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="message">Address</label> 
                  <textarea name="message" id="message" cols="30" rows="5" class="form-control" placeholder="Address"></textarea>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Email</label>
                  <input type="email" id="email" class="form-control" placeholder="Enter Email">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Contact</label>
                  <input type="text" id="email" class="form-control" placeholder="Contact Number" max="10">
                </div>
              </div>
              <div class="row form-group">
                <label class="col-md-12"  for="inputSuccess"><b>Please select your gender</b> </label>
                  <div class="col-lg-6">
                    <label class="checkbox-inline">
                      <input type="radio" id="inlineCheckbox1" name="gender" value="option1"> Male
                    </label>
                    <label class="checkbox-inline">
                      <input type="radio" id="inlineCheckbox1" name="gender" value="option2"> female
                    </label>
                            
                  </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="message">Work Description</label> 
                  <textarea name="message" id="message" cols="30" rows="5" class="form-control" placeholder="Enter Work Description"></textarea>
                </div>
              </div>
               <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Addrese Proof</label>
                  <input type="file" id="email" class="form-control" placeholder="Enter Email">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Submit" class="btn btn-primary  py-2 px-4">
                  <button class="btn btn-default" type="button">Cancel</button>
                </div>
              </div>
      </form>
  </div>
{% endblock %}